
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

/* Body */
body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #2b2b2b; 
  background-color: #f3f2ec;
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

/* Main Content sanpham */ 

#main-container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
}

#main-contain-sidebar {
  flex-basis: 30%;
  padding: 15px;
}


.healine {
  text-align: center;
  margin: 120px auto auto auto;
}

.healine h3 {
  font-size: 18px;
  color: black;
  padding: -20px 20px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 600;
  line-height: 1.5; 
  margin-top: 30px;
}


.sort-buttons {
  position: relative;
  display: flex; 
  /* justify-content: flex-end;  */
  margin: 2px 2px 0px -5px;
  float: right;
}

.sort-buttons button {
  background-color: #daa556;
  color: white;
  padding: 7px 15px;
  border: none;
  cursor: pointer;
  margin-top: 5px ;
 
}

.sort-buttons button:hover {
  background-color: #f1eeea;
  color: black;
}

.sort-buttons .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
  right: 0; 
  margin-top: 30px;
}

.sort-buttons .dropdown-content button {
  background-color: #f9f9f9;
  color: black;
  padding: 5px 10px; /* Giảm padding để nút nhỏ hơn */
  text-align: left;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 14px; /* Giảm font size để phù hợp với nút chính */
}

.sort-buttons .dropdown-content button:hover {
  background-color: #daa556;
}

.sort-buttons:hover  .dropdown-content {
  display: block;
}




ul.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 25px;
}

ul.product li {
  flex-basis: 25%;
  padding: 0 15px;
  box-sizing: border-box;
  height: 400px;
}

ul.product li img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

ul.product li .product-info {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 100px;
}

ul.product li .product-info a {
  display: block;
}

ul.product li .product-info a.product-cat {
  font-size: 13px;
  text-transform: uppercase;
  color: #74642F;
  margin-top: 0px;
  padding: 1px 0;
  text-align: center;
  height: 20px; /* Đặt chiều cao cố định cho phần nhãn hiệu */
  line-height: 10px; /* Căn giữa nội dung theo chiều dọc */
}

ul.product li .product-info a.product-name {
  color: rgb(37, 32, 32);
  padding: 3px 0;
  height: 70px; /* Đặt chiều cao cố định cho tên sản phẩm */
  line-height: 20px; /* Căn giữa nội dung theo chiều dọc */
  text-decoration: none; /* Tắt gạch chân chữ */
  
 
}

ul.product li .product-info .product-price {
  color: #74642F;
  padding: 2px 0;
  font-weight: 600;
  height: 40px; /* Đặt chiều cao cố định cho giá */
  line-height: 5px; /* Căn giữa nội dung theo chiều dọc */
  text-align: center;

}

ul.product li .product-top {
  position: relative;
  overflow: hidden;
}

ul.product li .product-top .button-container{
  display: flex;
  position: absolute;
  bottom: -65px;
  width: 100%;
  transition: 0.25s ease-in-out;
  opacity: 0.85;
  text-align: center;
  font-size: 10px;
}

ul.product li:hover .product-top .button-container {
  bottom: 0;
}

ul.product li .product-top a.buy-now,
ul.product li .product-top a.view-details {
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: block;
  background-color: #446084;
  color: #fff;
  padding: 10px 0;
  flex: 1;
}

ul.product li .product-top a.view-details{
  background-color: #5a7ba8; /* Màu khác cho nút "Xem Chi Tiết" */
}

ul.product li .product-top .product-thumb {
  display: block;
  max-width: 100%;
  height: auto;
}

ul.product li:hover .product-top .product-thumb img {
  filter: opacity(80%);
}