/* css-index */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

/* Body */
body {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #2b2b2b; /* Màu chữ dễ đọc hơn */
  background-color: #f3f2ec;
}

#wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 100px; /* Thêm khoảng trống phía trên để tránh bị che bởi header cố định */
}

/* Header */
#header {
  background-color: #f3f2ec;
  height: 100px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  border-bottom: 2px solid #8e8d8a;
  width: 100%;}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

a#logo img {
  padding: 5px 0;
  width: 80px;
}

#main-menu {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  padding: 0;
}

#main-menu li {
  position: relative;
  margin-left: 15px;
}

nav #main-menu li a {
  color: #777777;
  display: block;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 15px;
}

/* Sub-menu styling */
#main-menu ul.sub-menu {
  position: absolute;
  background: #dddddd;
  padding: 15px 0;
  display: none;
  width: 200px;
}

#main-menu li:hover > ul.sub-menu {
  display: block;
}

#main-menu ul.sub-menu a {
  padding: 10px 20px; 
  color: #2b2b2b; 
  border-bottom: 1px solid #8e8d8a; 
}

#main-menu ul.sub-menu li:last-child a {
  border: none;
}

nav #main-menu > li > a {
  position: relative;
}

nav #main-menu > li > a::before {
  content: "";
  height: 4px;
  width: 0%;
  background: #daa556;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  transition: all 0.3s;
}

nav #main-menu li:hover a {
  transition: all 0.3s;
}

nav #main-menu > li:hover > a::before {
  width: 100%;
}

/* Footer */
#footer {
  background-color: #f3f2ec;
  padding: 20px 0; /* Thêm khoảng trống phía trên và dưới */
  text-align: center;
  border-top: 2px solid #8e8d8a;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Căn chỉnh các phần tử lên trên cùng */
  flex-wrap: wrap; /* Đảm bảo các phần tử không bị tràn ra ngoài */
  padding: 20px;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
  text-align: left;
}

.footer-section h4 {
  margin-bottom: 10px;
  color: #333;
}

.footer-section p, .footer-section a {
  color: #2b2b2b;
}

.footer-section .social-link {
  display: flex;
  justify-content: flex-start;
}

.footer-section .social-link a {
  color: #2b2b2b;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.footer-section .social-link a:hover {
  color: #daa556;
}

.footer-section a:hover {
  color: #000;
}
